# Server Configuration
PORT=5001

PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/ticketing-system
JWT_SECRET=TicketingSystem@2026
CLIENT_URL=http://localhost:5173

# Client URL (for CORS)
CLIENT_URL=http://localhost:5173
